*{
   margin: 0;
   padding: 0;
}

.page-mainer{
	font-size: 28px;
	font-family: arial;
	text-align:center;
	flex: 1;
	margin-top: 80px;
}
.page-mainer img{
	width: 280px;
	height: 260px;
	margin-bottom: 15px;
}

